ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
body {
  background-color: pink;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 19px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666666;
}

li {
  float: left;
}

li a {
  display: round;
  color: pink;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}